laranja = #ff4700
azul = #009aff
roxo = #bf00c2
branco = #ffffff
preto = #0e0f10

//backgrounds
.styl-backgroundcolor
    background-color: laranja

.styl-imgbackground
  max-width: 100%;
  height: auto;

//cores
.styl-colorlaranja
    color: laranja

.styl-colorbranco
    color: branco

.styl-colorpreto
    color: preto

//positions
.styl-leftmid
    left: 5%;
    top: 30%
    position: absolute
//size
.styl-size10px
    font-size: 10px
.styl-size20px
    font-size: 20px
.styl-size40px
    font-size: 40px
.styl-size80px
    font-size: 80px

html
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: preto;

//buttons
.styl-btnDownload
    width: 25%
    height: 42px 
    color:white
    background-color: lawngreen
    border-radius: 5px
