body{
    margin: 0;
    background-color: #0e0f10;
    background-repeat: no-repeat;
    background-image: url(https://raw.githubusercontent.com/gabrielserratg/img/master/download.png);
}
button.btncopy{
    text-align: center;
    padding: 14px 28px;
    font-size: 20px;
    background: aquamarine;
    color:whitesmoke;
    border: 0px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}
button.btn01{
    position: absolute;
    left: 5%;
    top: 20%;
}
button.btn02
{    
    position: absolute;
    left: 5%;
    top: 30%;
}
button.btn03
{    
    position: absolute;
    left: 5%;
    top: 40%;
}
button.btn04
{    
    position: absolute;
    left: 5%;
    top: 50%;
}

button.btn05{
    position: absolute;
    left: 25%;
    top: 20%;
}
button.btn06
{    
    position: absolute;
    left: 25%;
    top: 30%;
}
button.btn07
{    
    position: absolute;
    left: 25%;
    top: 40%;
}
button.btn08
{    
    position: absolute;
    left: 25%;
    top: 50%;
}
